.cart-wrapper {
  position: relative;
  display: inline-block;
}

.cart-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: 6px;
  right: 8px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}
